*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;   
}
.main-app{
    width: 85%;
    margin-left:15%;
    height: 100vh;
}
.main-card{
    display: flex;
    flex-wrap: wrap;
    padding: 2% 1%;
    background-color: #2F3238;
    gap: 1rem; 
}
.link{
    text-decoration: none;
    width: 22%;
    margin-bottom: 25px;
    margin-left: auto;
    margin-right: auto;
    border:  1px solid#3B3E46;
    padding-bottom: 1%;
    overflow-wrap: break-word;
    transition: all .9s ease-in-out;
}
.link:hover{
    transform: scale(1.1);
    border: 1px solid#3B3E46;
}
.card-image{
    width: 100%;
}
.video-details{
    padding-left: 2%;
}
.video-details h3{
    font-weight: 700;
    font-size: 1rem;
    padding-top: 5px;
    padding-bottom: 5px;
    height: 44px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.chanel-info-details-more > h5{
    font-size: 1.1rem;
    font-weight: 300;
   padding-top: 2%;
}

.link h5{
    font-weight: 300;
    font-size: 1rem;
    padding-top: 3%;   
}
.link h5::first-letter{
text-transform: uppercase;
}

.chanel-info-details > h4{
    font-size: 1rem;
    font-weight: 420;
    padding-top: 3%;
}
 .chanel-info-details-more{
    display: flex;
    gap: 0.4rem;
    flex-wrap: wrap;
}
.chanel-info-details-more h5{
    font-size: 1rem;
}
.card-main .subscription-like{
    text-decoration: none;
    width: 25%;
    display: flex;
    height: 130px;
    border: 1px solid red;
    
}
@media screen and (max-width:670px) {
    .main-app{
        width: 100%;
        margin-left: 0;
        margin-bottom: 0;
        overflow-y: scroll;
    }
    .link{
        text-decoration: none;
        width: 70%;
        margin-bottom: 25px;
        margin-left: auto;
        margin-right: auto;
    }
}