.play-video-content{
    padding-left: 2%;
    padding-top: 90px;
    display: flex;
    width: 100%;
}
.related-video-main{
    margin-left: 5%;
    height: 100%;
    width: 60%;
}
.related-video-main h1{
   color: white;
   text-align : center;
   padding-bottom: 1rem;
   font-size: 1.5rem;
   font-weight: 400;
}
.related-video-card{
    display: flex;
    height: 100px;
    width: 100%;
    margin-bottom: 3%;
    border:  1px solid#3B3E46;
}
.related-video-profil{
    width: 140px;
    height: 100px;
}
.related-video-channel-infos{
    margin-left: 3%;
    width: 200px;
    overflow-wrap: break-word;
    color: white;
}.related-video-channel-infos h3{
    font-size: 0.8rem;
    font-weight: 400;
   padding-top: 5%;
}

.related-video-channel-infos .channel{
   padding-top: 5%;
}
.related-video-channel-infos .see{
    padding-top: 5%;
 }
 .related-video-channel-infos .creation::first-letter{
    padding-top: 5%;
    text-transform: capitalize;
 }
 
 .card-played-video-infos{
   color: white;
 }
 .card-played-video-infos h2{
    padding-top: 2%;
    font-size: 1.5rem;
    font-weight: 400;
 }
 .related-video-channel-infos h5{
   font-size: 0.8rem;
   font-weight: 400;
}
 .played-video-statistics{
    display: flex;
    padding-top: 4%;
    gap: 1rem;
 }
 .played-video-statistics h5{
    font-size: 1.1rem;
    gap:2rem;
    font-weight: 400;
 }
 .channel-infos{
    display: flex;
    padding-top: 4%;
    gap: 1rem;
 }
.channel-infos .channel-infos-title{
   display: block;
   color: white;
}
.channel-infos h3{
   padding-top: 2%;
   font-size: 1.3rem;
   font-weight: 500;
}
.channel-infos h5{
   font-weight: 300;
   padding-top: 1%;
   text-transform: capitalize;
}
 .channel-infos h3::first-letter{
    text-transform: capitalize;
 }
 .channel-infos .channel-infos-image{
   width: 7%;
   height: 3rem;
   border-radius: 50%;
 }
 .channel-infos button{
    padding: 0% 4%;
    border-radius: 10px;
    border: none;
    background-color: #5663D1;
    color: white;
    margin-left: 10%;
    font-size: 1rem;
 }
 iframe{
   width :630px; 
   height :320px;
 }
 .card-played-video-infos h4{
    font-size: 1.2rem;
    font-weight: 400;
    padding-top: 4%;
 }
.comment-main{
   color: white;
   padding-top: 5%;
}
.comment-main > .comment-header{
   display: flex;
   gap: 15%;
   padding-bottom: 3%;

}
.comment-main > .comment-header >  button{
   background-color: #5663D1;
   border: none;
   width: 12%;
   height: 2rem;
   color: white;
   border-radius: 5px;
}
.add-comment{
   display: flex;
   padding-bottom: 7%;
   padding-left: 1%;
   padding-top: 2%;
   gap: 3%;
}
.add-comment > .user-picture {
   width: 6%;
}
.add-comment > .user-picture  >img {
   border-radius: 50%;
   width: 100%;
   background-color: #5663D1;
}
.add-comment > form {
   display: flex;
   gap: 4%;
   width: 90%;
}
.add-comment > form > input {
   border: none;
   width: 80%;
   height: 90%;
   padding-left: 1%;
   outline: none;
}

.add-comment > form > button {
   background-color: #5663D1;
   border: none;
   width: 15%;
   height: 90%;
   color: white;
   border-radius: 2px;
}
.comment-contain{
   padding-left: 1%;
   display: flex;
   gap: 3%;
   padding-bottom: 4%;
}
.comment-contain > .user-picture {
   width: 6%;
}
.comment-contain > .user-picture > img {
   border-radius: 50%;
   width: 100%;
}
.comment-contain > .comment-infos {
   width: 90%;
}
.comment-contain > .comment-infos > h3{
   font-weight: 500;
}
.comment-contain > .comment-infos > h5 {
   font-weight: 400;
   color: rgb(187, 184, 181);
   padding: 1% 0;
}
.comment-contain > .comment-infos > p{
   padding: 2% 0%;
}
.comment-details > .comment-detail-infos > h4 {
   cursor: pointer;
}

.comment-contain > .comment-infos > .comment-details{
   display: flex;
   padding: 1% 0;
   
}
.comment-contain > .comment-infos > .comment-details> .comment-detail-infos{
   display: flex;
   width: 40%;
   gap: 10%;
}
.comment-reply-contain{
   padding-left: 5%;
   display: flex;
   gap: 10%;
   width: 60%;
}
.comment-reply-contain  > input {
   width: 80%;
   height: 120%;
   padding-left: 1%;
   outline: none;
}
.comment-reply-contain  > button{
   width: 15%;
   background-color: #5663D1;
   color: white;
   border: none;
   height: 120%;
   border-radius: 2px;
   cursor: pointer;
}
.comment-reply-contain > button:active{
   border: none;
   background-color: #5663D1;
   
}
 @media screen and (max-width:670px) {
   .play-video-content{
      display: block;
  }
  iframe{
  margin-left: 4%;
   width :90%; 
   height :30vh;
 }
 .play-video-content{
   padding-top: 80px;
}

.related-video-main{
   margin-left: 1%;
   padding-top: 10%;
   width: 100%;
}
.channel-infos{
   padding-top: 5%;
}
.related-video-card{
   display: flex;
   margin-left: 3%;
   width: 90%;
   height: 80%;
   border:  1px solid#3B3E46;
}
.related-video-profil{
   width: 180px;
   height: 130px;
}
.related-video-channel-infos{
   margin-left: 3%;
   width: 100%;
   overflow-wrap: break-word;
   color: white;
}
.related-video-channel-infos h3{
   font-size: 1rem;
   font-weight: 400;
  padding-top: 5%;
}
.card-played-video-infos{
   padding-left: 4%;
 }
}