*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}
.side-bar{
  margin: 0;
  margin-top: 65px;
  width: 15%;
  background-color: #3B3E46;
  color: white;
  height:100vh;
  position:fixed;
  overflow: auto;
  top: 0;
  left: 0;
  -ms-overflow-style: none;
  scrollbar-width: none;
  z-index: 1;
}
.side-bar::-webkit-scrollbar {
  display: none;
}
a{
  text-decoration: none;
  display: flex;
  color: white;
}
.fa-play{
  color: #5663D1;
}

.side-bar-icon{
  padding-left: 10%;
}

.side-bar ul li {
  list-style: none;
  display: flex;
  padding: 2% 15%;
  font-size: 1rem;
  padding-top: 8%;
  padding-bottom: 8%;
  cursor: pointer;
  width: 100%;
}
.abonnements{
  font-size: 1rem;
  }
.active, .side-bar ul li:hover{
  border: none;
  background-color: #5663D1;
}
.side-bar ul li:active{
  background-color: #5663D1;
}
.fa{
  text-align: center;
  width: 40px;
}
/* .btn-logout{
  border: none;
  background-color: #3B3E46;
  color: white;
  font-size: 1.1rem;
  width: 100%;
} */
.img-channel{
  border-radius: 50px;
  width: 40px;
}
li h5{
  padding-top: 8%;
  padding-left: 2%;
}
h6{
  padding-top: 10%;
  padding-bottom: 5%;
  font-size: 0.75rem;
  padding-left: 24%;
  border-top: 1px solid rgb(153, 148, 148);
}
.side-bar .btn-logout{
  display: none;
}
.bar{
  border-bottom: 1px solid rgb(153, 148, 148);
}
@media screen and (max-width:670px) {
  .side-bar{
    overflow: hidden;
    position:fixed;
    /* top:40rem; */
    height:100px;
    z-index: 1;
  
    width: 100%;
    margin-top: 90vh;
    bottom: 0;

  }
  .side-bar ul {
    display: flex;
    width: 100%;
    padding-top: 0;
    margin-left: 7%;
    height:100px;
    gap: 4rem;
   
  }
  .side-bar ul li{
    width: 80px;
    list-style: none;
  padding: 0;
  font-size: 1.3rem;
  padding-top: 30%;
  padding-bottom: 7%;
  cursor: pointer;
  justify-content: center;
  
  }
  .side-bar ul li h4 {
    display: none;
  }
  .no-visible-link{
    display: none;
  }
  .btn-logout{
    display: contents;
  }
  .fa-right-from-bracket{
    padding-top: 7%;
  }
  .side-bar .btn-logout{
    display: block;
    width: 80px;
    padding-top: 5%;
    background-color: #3B3E46;
    border: none;
  }
}