*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.video-critere{
    background-color: #42464F;
    height: 3.5rem;
    margin-top: 60px;
    display: flex;
    gap: 1rem;
   width: 100%;
   padding-left: 10px;
  padding-right: 10px;
  
   z-index: 1;
   overflow: hidden;
}
.link-video-critere{
    background-color: #42464F;
    height: 2rem;
    margin-top: 15px;
    display: flex;
    gap : 2rem ;
    width: 8%;
    
}
.other-critere{
    padding: 8px 20px;
    border-radius: 10px;
    border: none;
    margin-left: 3%;
    background-color: #2B2F37;
    color: white;
    font-size: 0.8rem;
}
.all-video{
    padding:2px 20px;
    border-radius: 10px;
    border: none;
    margin-top: 1%;
    margin-left: 3%;
    margin-right: 3%;
    background-color: #2B2F37;
    color: white;
    font-size: 0.8rem;
    cursor: pointer;
}
.all-video:hover, .other-critere:hover{
    background-color: #5663D1;
}
button:active{
    background-color: #1d2025;
}
@media screen  and (max-width:980px) {
    .video-critere{
        /* padding: 2%; */
        /* margin-top: 60px; */
        display: none;
        overflow: hidden;
    }
    button, .all-video{
        padding: 2% 4%;
        font-size: 0.8rem;
        margin: 0;
        margin-left: 2%;
        margin-top: 1%;
    }
}   

